body{
  text-align: center;
  background-image: url('./water-blue-ocean.jpg');
  background-size: cover;
  background-repeat: no-repeat;

 

}


.App{
  color: white;
  font-size: 30px;
  font-style: italic
}

